body {
	font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
        font-family: 'Noto Sans TC', sans-serif;
	text-transform:none;
}
.subheading {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.2rem;
	text-transform:none;
	letter-spacing: -0.05rem;
}
h1 .text-primary {
	font-size: 3rem;
	letter-spacing: -0.05rem;
	line-height: 3rem;
	text-transform:capitalize;
}

.bg-primary {
	background-color: #6610f2!important;
	background-image: url("img/otis-redding.png");
}

.text-primary {
	color: #6610f2!important;
}
#sideNav .navbar-nav .nav-item .nav-link {
	text-transform: none;
}

a {
	color: #6610f2;
}

a:active, a:focus, a:hover {
	color: #6610f2;
}

.social-icons a:hover {
	background-color: #6610f2;
}

.dev-icons .list-inline-item i:hover {
    color: #6610f2;
}

.graph_set {
	margin-top: 3rem;
}

.small-text {
	font-size: 1.2rem;
}
